body{
    margin:0;
text-align: center;

}
.bob{


    width:700px;
    height: 500px;

}
#inicio{

    bottom:0;
   background:linear-gradient(rgb(2, 2, 2) 0%, rgb(0, 0, 0) 100%);
display:table;
width:100%;
height:80%;
z-index:9 ;

}

#sobre_o_time {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 250;

}
#oi {
    color:aliceblue;
}